{% extends 'base.html' %}
{%block body%}
<div class="container mt-4">
  <div class="row text1">

  {# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{# Display a form #}
<form  method="post" class="form">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
    <button type="submit" class="btn btn-primary">
      Login
    </button>
  {% endbuttons %}
<p>You can reset your password <a href="{% url 'password_reset' %}">here</a>.</p>
</form>

  </div>
</div>
{% endblock  %}
