{% extends "base.html" %}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% block body %}
    {% if validlink %}
    <div class="container mt-4">
      <div class="row">
        <p>Please enter (and confirm) your new password.</p>
        <form action="" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
          <button type="submit" class="btn btn-primary">
            Change my password
          </button>
        {% endbuttons %}
      </div>
      </div>
        {% else %}
        <div class="container mt-4">
          <div class="row">
        <p>Sorry, this link is not valid</p>
      </div>
      </div>
        {% endif %}

{% endblock %}
